*
!app
!bootstrap
!config
!database
!docker/
!public
!resources
!routes
!secrets
!storage
!artisan
!composer.json
!AUTHORS.md
!LICENSE
!package.json
!package-lock.json
!tailwind.config.js
!webpack.mix.js
!.gitignore
!.dockerignore
