APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.1:8005
FRONTEND_URL="${APP_URL}"
ASSET_URL="${APP_URL}" 
SCHEMA_HTTPS=http # http or https

#LOGS
LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

#DATABASE
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=oauth2
DB_USERNAME=
DB_PASSWORD= 
