.terms-policy {
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;

    .form {
        margin: auto;
        text-align: center;
        padding: 1em;
        width: 90%;

        @media (min-width: 850px) {

            width: 70%;
        }
    }

    p:nth-child(1) {
        font-size: 1.5em;
        font-weight: bold
    }

    p:nth-child(2) {
        font-size: 1.2em;
        margin-top: 1em
    }

    button {
        padding: 1em;
        margin-top: 1em;
        width: 70%;

        @media (min-width: 800px) {

            width: 30%;
        }
    }
}