.account-security-2fa .col {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}

.account-security-2fa .col .form-control {
    display: inline;
    border: 1px solid $secondary;

    @media (min-width:240px) {
        width: 95%;
    }

    @media (min-width:800px) {
        width: 30%;
    }
}

.account-security-tokens .card-body {
    text-align: center;
}

.account-security-remove .card-body {
    text-align: center;
}

.profile {
    margin: auto;
}

.profile .col {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 2%;

    @media (min-width:800px) {
        width: 50%;
    }
}

.profile .card-head {
    margin-bottom: 2%;
    border-bottom: 1px solid #ecdfdf82 !important;
}

.profile .card-body span {
    font-weight: bold;
    color: #131212ba
}

 

.profile .roles a:hover {
    color: #022a41be;
}


.profile .user-update .col {
    margin: 0 1% 0% 1%;
    flex: 0 0 auto;

    @media (min-width:800px) {
        width: 47%;
    }

    @media (min-width:950px) {
        width: 30%;
    }
}

.profile .user-update label,
.profile .user-update p {
    margin: 4% 0 0 0;
    color: #131212ba;
    text-transform: uppercase !important;
    font-weight: bold;
    font-size: 12px;
    text-align: justify;
}

.profile .user-update input {

    @media (min-width:240px) {
        padding: 1%;
        text-align: left;
    }

    @media (min-width:800px) {
        padding: 1%;
        text-align: left;
    }
}