 .login {
     margin: 1% auto 2% auto;
     padding: 3%;
     background-color: $white-opaque;
     color: $white ;
     border-radius: 5%;
     text-align: center;


     @media (min-width: 240px) {
         width: 95%;
     }

     @media (min-width: 300px) {
         width: 80%;
     }

     @media (min-width: 600px) {
         width: 70%;
     }

     @media (min-width: 800px) {
         width: 50%;
     }

     @media (min-width:992px) {
         width: 30%;
     }

 }


 .login-head .astian-fuentes,
 .forgot-head .astian-fuentes,
 .register-head .astian-fuentes,
 .reset-head .astian-fuentes {
     width: 250px;
 }

 .login .astian-logo,
 .forgot-head .astian-logo,
 .register-head .astian-logo,
 .reset-head .astian-logo {
     width: 50px;
 }

 .login input {
     padding: 2%;
     text-align: center;
 }

 .login .col {
     flex: 0 0 auto;
     width: 100%;

     @media (min-width:360px) {
         width: 100%;
     }

     @media (min-width:992px) {
         width: 50% !important;
     }
 }

 .reset {
     padding: 4%;
     width: 100%;
     text-align: center !important;
     background: $white-opaque;
     border-radius: 5%;

     @media (min-width:240px) {
         width: 95%;
     }

     @media (min-width: 800px) {
         width: 60%;
     }

     @media (min-width:992px) {
         width: 40%;
     }

     @media (min-width:1440px) {
         width: 50% !important;
     }
 }

 .forgot {
     padding: 4%;
     width: 100%;
     text-align: center;
     background: $white-opaque;
     border-radius: 5%;

     @media (min-width:240px) {
         width: 95%;
     }

     @media (min-width: 800px) {
         width: 60%;
     }

     @media (min-width:992px) {
         width: 40%;
     }

     @media (min-width:1440px) {
         width: 50% !important;
     }
 }

 .register {
     padding: 2% 4%;
     width: 40%;
     margin: 3% auto;
     text-align: center;
     background: $white-opaque;
     border-radius: 2%;

     @media (min-width:240px) {
         width: 90%;
     }


     @media (min-width:400px) {
         width: 80%;
     }

     @media (min-width:750px) {
         width: 70%;
     }

     @media (min-width: 800px) {
         width: 60%;
     }

     @media (min-width:992px) {
         width: 40%;
     }

     @media (min-width:1440px) {
         width: 50% !important;
     }
 }

 .forgot .col,
 .register .col {
     flex: 0 0 auto;
     width: 50%;

     @media (min-width:200px) {
         width: 100%;
     }
 }

 .register input {
     padding: 2%;
 }

 .factor {
     width: 80%;
     padding: 4%;
     background-color: $white-opaque;
     border-radius: 5%;

     @media (min-width:240px) {
         width: 95%;
     }

     @media (min-width:320px) {
         width: 100%;
     }

     @media (min-width:750px) {
         width: 70%;
     }

     @media (min-width: 800px) {
         width: 60%;
     }

     @media (min-width:992px) {
         width: 50%;
     }

     @media (min-width:1440px) {
         width: 30% !important;
     }
 }