.notification-read .card {
    width: 80% !important;
    text-align: center;
    margin: 2% auto;
    padding: 0% 1%;
}

.notification-read .card-head {
    padding: 0% 0;
}

.notification-read .card-body {
    padding: 0% 0;
}

.notification-read .card-footer {
    padding: 0% 0;
}

.notification-read .card-footer span {
    display: block;
    margin-top: 2%;

    @media (min-width:800px) {
        display: inline;
    }
}

.notification-read .card-footer span:nth-child(1) {
    @media (min-width:800px) {
        float: left;
    }
}

.notification-read .card-footer span:nth-child(2) {
    @media (min-width:800px) {
        float: right;
    }
}

.notification-push .col {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 4%;

    @media (min-width:800px) {
        margin-bottom: 2%;
    }
}

.notification-push .card {

    width: 100%;
    margin-top: 3% !important;

    @media (min-width:800px) {
        width: 70%;
        margin: auto;
    }
}