.aouth-clients-register .col {
    flex: 0 0 auto;
    width: 100%;
    margin: 1%;

    @media (min-width:850px) {
        width: 48%;
    }
}

.oauth-client-personal-create .col {
    flex: 0 0 auto;
    margin: 1%;

    @media (min-width:240px) {
        width: 97%;
    }

    @media (min-width:850px) {
        width: 48%;
    }
}

.oauth-client-personal-roles {
    margin-bottom: 1%;
}

.oauth-client-personal-roles span,
.oauth-client-personal-roles label {
    color: #131212ba;
}

.oauth-client-personal-roles .col {
    flex: 0 0 auto;
    margin: 0.5% 0% 0 2%;

    @media (min-width:240px) {
        width: 97%;
        margin: 0.5% 0% 0 4%;
    }

    @media (min-width:800px) {
        width: 45%;
    }

    @media (min-width:940px) {
        width: 28%;
    }
}