.role-register .col {
    flex: 0 0 auto;
    margin: 1%;

    @media (min-width:850px) {
        width: 47%;
    }
}

.update-role .col {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 2%;

    @media (min-width:800px) {
        width: 49%;
    }
}

.update-role .col label {
    color: rgb(46, 44, 44);
    font-weight: bold;
    text-align: justify;
}