.footer {
    width: 100%;
    min-height: 15vh;
    background-color: var(--primary);


    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2%;

        a {
            // text-decoration: none;
            font-size: 0.9em;
            color: var(--white);
            padding: 0em 1em;
        }
    }

    .author {
        text-align: center;
        margin-top: 5%;

        @media (min-width: 800px) {
            margin-top: 1%;
        }

        p {
            margin: 0;
            color: var(--first-color);
        }

    }
}


.input-theme {
    width: 100%;
    border-color: none;
    border-radius: 0.2em;
    border-color: var(--white);
    border-style: solid;
    border-width: 0.1em;
    padding: 0.2em 0.5em;
    border-color: var(--light);
}

.group {
    display: flex !important;
    padding: 0 !important;
    margin: 0 !important;
    border:1px solid var(--border-color-light) !important;
    border-radius: 0.2em !important;
    padding: 0.1em 0em !important;


    .label {
        flex: 1 1 40% !important;
        padding: 0.2em 0.5em !important;
    }

    input {
        flex: 1 1 60% !important;
        border-style: none !important;
        padding: 0.2em 0.3em !important;
    }
}

.errors {
    color: var(--secondary);
    font-size: 0.8em;
    display: block;
}