.footer {
    width: 100%;
    min-height: 15vh;
    background-color: var(--primary);


    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2%;

        a {
            // text-decoration: none;
            font-size: 0.9em;
            color: var(--white);
            padding: 0em 1em;
        }
    }

    .author {
        text-align: center;
        margin-top: 5%;

        @media (min-width: 800px) {
            margin-top: 1%;
        }

        p {
            margin: 0;
            color: var(--first-color);
        }

    }
}


.input {
    border: 1px solid var(--border-color-light);
    color: var(--first-color);
    padding: 0.5em;
    border-radius: 0.3em;
    margin: 1% 0;
    max-width: 100%;
    min-width: 90%;
}

.textarea {
    border: 1px solid var(--border-color-light);
    color: var(--first-color);
    border-radius: 0.5em;
    min-width: 90%;
    padding: 0.5% 1em;
}

.select {
    min-width: 90%;
    background-color: var(--white);
    color: var(--first-color);
    border: 1px solid var(--border-color-light);
    padding: 0.5em 1em;
    border-radius: 0.3em;
}

.group {
    display: flex;
    margin: 1% 0;
    max-width: max-content;
    min-width: 93%;

    .label {
        border-radius: 0.5em 0 0 0.5em;
        flex: 0 1 auto;
        min-width: 5%;
        border: 1px solid var(--border-color-light);
        padding: 0.5em;
    }

    input {
        flex: 1 0 60%;
        padding: 0.2em 0.3em;
        border: 1px solid var(--border-color-light);
        border-radius: 0 0.5em 0.5em 0;
        color: var(--first-color);
    }
}

.errors {
    color: var(--secondary);
    font-size: 0.8em;
    display: block;
}

.bg-primary {
    color: var(--white) !important;
    background-color: var(--primary);
    border: 1px solid var(--border-color-primary);
}

.bg-secondary {
    color: var(--white) !important;
    background-color: var(--secondary);
    border: 1px solid var(--border-color-secondary);
}

.bg-ternary {
    color: var(--white) !important;
    background-color: var(--ternary);
    border: 1px solid var(--border-color-ternary);
}

.bg-quaternary {
    color: var(--white) !important;
    background-color: var(--quaternary);
    border: 1px solid var(--border-color-quaternary);
}

.bg-light {
    color: var(--first-color) !important;
    background-color: var(--white);
    border: 1px solid var(--border-color-light);
}

.bg-warning {
    color: var(--first-color) !important;
    background-color: var(--warning);
    border: 1px solid var(--border-color-warning);
}

.bg-link {
    color: var(--first-color) !important;
    background-color: var(--blue);
    border: 1px solid var(--border-color-blue);
}

.btn {
    padding: 0.3em 1em;
    min-width: 20%;
}

.btn-primary {
    color: var(--white) !important;
    background-color: var(--primary);
    border: 1px solid var(--border-color-primary);
    border-radius: 0.5em;

    &:hover {
        background-color: #4256fa;
    }
}

.btn-secondary {
    color: var(--white) !important;
    background-color: var(--secondary);
    border: 1px solid var(--border-color-secondary);
    border-radius: 0.5em !important;

    &:hover {
        background-color: #4256fa;
    }
}

.btn-ternary {
    color: var(--white) !important;
    background-color: var(--ternary);
    border: 1px solid var(--border-color-ternary);
    border-radius: 0.5em !important;

    &:hover {
        background-color: #4256fa;
    }
}

.btn-quaternary {
    color: var(--white) !important;
    background-color: var(--quaternary);
    border: 1px solid var(--border-color-quaternary);
    border-radius: 0.5em;

    &:hover {
        background-color: #4256fa;
    }
}

.btn-light {
    color: var(--first-color) !important;
    background-color: var(--white);
    border: 1px solid var(--border-color-light);
    border-radius: 0.5em;

    &:hover {
        background-color: #4256fa;
    }
}

.btn-warning {
    color: var(--first-color) !important;
    background-color: var(--warning);
    border: 1px solid var(--border-color-warning);
    border-radius: 0.5em;

    &:hover {
        background-color: #4256fa;
    }
}

.btn-link {
    color: var(--white) !important;
    background-color: var(--blue);
    border: 1px solid var(--border-color-blue);
    border-radius: 0.5em;

    &:hover {
        background-color: #4256fa;
    }
}

.label {
    display: block;
    color: var(--first-color);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-ternary {
    color: var(--ternary);
}

.text-quaternary {
    color: var(--quaternary)
}

.text-danger {
    color: var(--warning)
}

.text-link {
    color: var(--blue)
}

.text-center {
    text-align: center;
}

.first-color {
    color: var(--first-color);
}

.second-color {
    color: var(--second-color);
}

.fw-bold {
    font-weight: bold;
}

.fw-light {
    font-weight: light;
}

.fw-lighter {
    font-weight: lighter;
}

.text-sm {
    font-size: 0.8em;
}

.text-md {
    font-size: 1em;
}

.text-xl {
    font-size: 1.5em;
}

.text-xxl {
    font-size: 2em;
}