.user-register .col {
    flex: 0 0 auto;
    padding: 1%;

    @media (min-width:240px) {
        width: 100%;
    }

    @media (min-width:940px) {
        align-items: center;
        width: 50%;
    }
}

.user-scopes .col {
    margin: 0 2% 0% 1%;
    flex: 0 0 auto;
    // padding: 1%; 

    @media (min-width:940px) {
        width: 20%;
    }
}


.search .col {
    flex: 0 0 auto;
    margin: 1%;

    @media (min-width:240px) {
        width: 98%;
    }

    @media (min-width:568px) {
        width: 48%;
    }

    @media (min-width:800px) {
        width: 48%;
    }

    @media (min-width:940px) {
        margin: 0%;
        width: 20%;
    }
}

.user-update .col {
    margin: 0 2% 0% 1%;
    flex: 0 0 auto;

    @media (min-width:940px) {
        width: 46%;
    }
}

.user-update label {
    text-align: justify !important;
    color: #131212ba;
    text-transform: uppercase !important;
    font-weight: bold;
}

.user-update input {
    padding: 1%;
}

.user-update div p {
    text-align: justify;
}