:root {
    --theme: #e3eeedec;
    --primary: #00b9b5;
    --secondary: #e36159;
    --ternary: #8dc73f;
    --quaternary: #bd1c7c;
    --white: #f6f9fd;
    --light: #95dfd9ec;
    --purple-light: #7895ebe8;
    --dark: #191a1f;
    --blue: #4c8ff4;
    --skyblue: #5177ccb5;
    --first-color: #091226b5;
    --second-color: #281cb0;
    --third-color: #828282;
    --fourth-color: #404040;
    --last-color: #7b1bab;
    --input-color: #091226b5;
    --link-title: #00b9b5;
    --dropdown-bg: #f3e9e9b4;
    --dropdown-color: #3a3030;
    --dropdown-hover-color: #0ab4ca;
    --sugestions-bg: #fff;
    --sugestions-color: #091226b5;
    --footer-bg: #5cb659;
    --footer-color: #fff;
    --footer-hover: #3ee7cb;
    --nav-top-bg: #0cb2c4;
    --nav-top-color: #b7b6b6;
    --nav-top-hover-color: #51699c;
    --nav-left-bg: #f1f8f9;
    --nav-left-color: #4c5563;
    --nav-left-hover-color: #693838;
    --apps-title: #fff;
    --apps-bg: #4370aa;
    --app-color: #f7eded;
    --apps-hover-color: #2b2828;
    --apps-menu-bg: #fff;
    --apps-menu-color: #524949;
    --apps-shadow-color: #8f6868;
    --calendar-bg: #9797b6;
    --calendar-color: #faf7f7;
    --calendar-hover-color: #c7d0d1;
    --calendar-day-bg: #3ec2bb;
    --calendar-day-color: #fff;
    --border-color-light: #e4e1e1;
}