:root {
    --theme: #e3eeedec;
    --primary: #00b9b5;
    --secondary: #e36159;
    --ternary: #8dc73f;
    --quaternary: #bd1c7c;
    --white: #fafafa;
    --light: #95dfd9ec;
    --purple-light: #7895ebe8;
    --code: #0c1529b5;
    --first-color: #091226b5;
    --second-color: #281cb0;
    --third-color: #828282;
    --fourth-color: #404040;
    --last-color: #7b1bab;
    --link-title: #00b9b5;
    --border-color-light: #e4e1e1;
    --border-color-primary: var(--primary);
    --border-color-secondary: var(--secondary);
    --border-color-ternary: var(--ternary);
    --border-color-quaternary: var(--quaternary);
}