@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons";
@import "__colors";
@import "__pagination";
@import "__table";
@import "__logins";
@import "__users";
@import "__aside";
@import "__navbar";
@import "__search";
@import "__roles";
@import "__broadcast";
@import "__oauth_clients";
@import "__accounts";
@import "__notification";

.errors {
    color: rgb(199, 50, 50);
    display: block;
    font-size: 12px;
    font-weight: bold;
}

body {
    background-color: $white;
    color: $dark;
}

a {
    color: $white ;
}

.form-check-label {
    font-size: 12px;
}

.router-link-exact-active,
.router-link-exact-active {
    color: #312c2c;
    font-weight: bold;
    background-color: #10201321;
    padding: 1% 50% 1% 1%;
    width: 100%;
    border-radius: 4%;
}

.modal {
    --bs-modal-width: 80%;
}

.modal-dialog {

    @media (min-width:240px) {
        width: 95%;
    }
 
    @media (min-width:360px) {
        width: 89%;
    }

    @media (min-width:375px) {
        width: 92%;
    }

    @media (min-width:940px) {
        width: 100%;
    }
}

.modal-header {
    font-size: 25px;
    color: #000000ab;
    font-weight: bold;
    justify-content: center;
}

.modal-body label {
    text-align: left;
    width: 100%;

    @media (min-width:940px) {
        text-align: center;
    }
}


.modal-footer {
    justify-content: center;

    @media (min-width:940px) {
        justify-content: end;
    }
}

.card-head {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #282626c9;
}