@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons";
@import "__pagination";
@import "__table";

:root {
    --theme: #e3eeedec;
    --primary: #00b9b5;
    --secondary: #e36159;
    --ternary: #8dc73f;
    --quaternary: #bd1c7c;
    --white: #f6f9fd;
    --light: #95dfd9ec;
    --purple-light: #7895ebe8;
    --dark: #191a1f;
    --blue: #4c8ff4;
    --skyblue: #5177ccb5;
    --first-color: #091226b5;
    --second-color: #281cb0;
    --third-color: #828282;
    --fourth-color: #404040;
    --last-color: #7b1bab;
    --input-color: #091226b5;
    --link-title: #00b9b5;
    --dropdown-bg: #f3e9e9b4;
    --dropdown-color: #3a3030;
    --dropdown-hover-color: #0ab4ca;
    --sugestions-bg: #fff;
    --sugestions-color: #091226b5;
    --footer-bg: #5cb659;
    --footer-color: #fff;
    --footer-hover: #3ee7cb;
    --nav-top-bg: #0cb2c4;
    --nav-top-color: #b7b6b6;
    --nav-top-hover-color: #51699c;
    --nav-left-bg: #f1f8f9;
    --nav-left-color: #4c5563;
    --nav-left-hover-color: #693838;
    --apps-title: #fff;
    --apps-bg: #4370aa;
    --app-color: #f7eded;
    --apps-hover-color: #2b2828;
    --apps-menu-bg: #fff;
    --apps-menu-color: #524949;
    --apps-shadow-color: #8f6868;
    --calendar-bg: #9797b6;
    --calendar-color: #faf7f7;
    --calendar-hover-color: #c7d0d1;
    --calendar-day-bg: #3ec2bb;
    --calendar-day-color: #fff;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    //    background-image: url("https://cloud.astian.org/build/assets/auth-bg-8529ec0e.svg");
    background-size: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin: 0;
}

/** footer **/
.footer {
    font-size: 0.8em;
}

.footer a {
    color: var(--white) !important;
    font-weight: bold !important;
}

.btn-primary,
.bg-primary {
    background-color: var(--primary) !important;
    border: var(--primary);
    color: var(--white);
}

.btn-secondary,
.bg-secondary {
    background-color: var(--secondary) !important;
    border: var(--secondary);
    color: var(--white);
}

.btn-ternary,
.bg-ternary {
    background-color: var(--ternary) !important;
    border: var(--ternary);
    color: var(--first-color);
}

.btn-quaternary,
.bg-quaternary {
    background-color: var(--quaternary) !important;
    border: var(--quaternary);
    color: var(--white);
}

.bg-light {
    background-color: var(--white) !important;
    color: var(--first-color) !important;
}

.text-color {
    color: var(--first-color) !important
}

.router-link-active.router-link-exact-active {
    color: #10102d !important;
    font-weight: bold;
}

.astian-primary {
    background-color: var(--primary);
    color: var(--first-color);
}

.astian-ligth {
    background-color: var(--white);
    color: var(--first-color);
}

.errors {
    color: var(--secondary);
    font-size: var(--font-size);
}

.modal {
    --bs-modal-width: 80%;
}

.modal-dialog {

    @media (min-width:240px) {
        width: 95%;
    }

    @media (min-width:360px) {
        width: 89%;
    }

    @media (min-width:375px) {
        width: 92%;
    }

    @media (min-width:940px) {
        width: 100%;
    }
}

.text-sm {
    font-size: 0.8em;
}

label {
    display: block;
    text-align: left;
}


/** Login **/
.login {
    border-radius: 2%;

    @media (min-width: 320px) {
        margin: 16% auto;
        width: 90%;
    }

    @media (min-width: 800px) {
        margin: 6% auto;
        width: 50%;
    }

    @media (min-width: 940px) {
        margin: 6.5% auto;
        width: 30%;
    }
}

.login .col {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 4%;
    padding-bottom: 4%;
}

.login .card-head {
    text-align: center;
    padding-top: 5%;
}

/****** fin login ***/


/*** forgot-password ***/

.forgot-password {
    padding: 2%;

    @media (min-width: 320px) {
        width: 100%;
        margin: 20% auto;
        text-align: center;
        padding: 5% 1%;
    }

    @media (min-width: 800px) {
        width: 80%;
        margin: 4% auto 4% auto;
    }

    @media (min-width: 940px) {
        margin: 5% auto 10% auto;
        width: 50%;
    }
}

/****** fin forgot password ***/

/**** Register ************/
.register {
    margin: 2% auto !important;
    padding: 2% !important;

    @media (min-width: 320px) {
        width: 98% !important;
    }

    @media (min-width: 600px) {
        width: 70% !important;
    }

    @media (min-width: 800px) {
        width: 60% !important;
    }

    @media (min-width: 940px) {
        width: 35% !important;
    }
}

.register .col {
    flex: 0 0 auto;
    width: 100%;
    padding-top: 1%;
    margin-bottom: 3%;
}

/****end of register****/

/***********/
.reset {
    width: 90%;
    margin: 2% auto;

    @media (min-width:800px) {
        width: 50%;
    }

    @media (min-width:940px) {
        width: 30%;
    }
}


/*** facto **/
.factor {
    text-align: center;
    padding: 1%;

    @media (min-width:240px) {
        width: 98%;
        margin: 10% auto;
    }

    @media (min-width:800px) {
        margin: 7% auto;
        width: 50%;
    }
}

/***** footer ******/
.footer {

    font-size: 0.8em;
    min-height: 5vh;
    background-color: var(--footer-bg);
    color: var(--footer-color);
}

.footer ul {
    display: block !important;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer ul:first-child li {
    display: inline-block;
    margin: 0.5% 2%;
}

.footer ul:first-child li a {
    color: inherit;
}

.footer ul:last-child li {
    display: inline;
}


/***/

.input-theme {
    width: 100%;
    border-color: none;
    border-radius: 0.2em;
    border-color: var(--white);
    border-style: solid;
    border-width: 0.1em;
    padding: 0.2em 0.5em;
    border-color: var(--light);
}

.group {
    display: flex !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0.1em solid var(--light) !important;
    border-radius: 0.2em !important;
    padding: 0.1em 0em !important;


    .label {
        flex: 1 1 40% !important;
        padding: 0.2em 0.5em !important;
    }

    input {
        flex: 1 1 60% !important;
        border-style: none !important;
        padding: 0.2em 0.3em !important;
    }
}