:root,
[data-theme] {
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --q-primary: #1976d2;
    --q-secondary: #64b5f6;
    --q-accent: #82b1ff;
    --q-positive: #4caf50;
    --q-negative: #d32f2f;
    --q-info: #2196f3;
    --q-warning: #ffb300;
    --q-dark: #263238;
    --q-dark-page: #1e1e1e;

    --q-body-bg: #ffffff;
    --q-body-text: #212121;
    --q-border: #e0e0e0;
    --q-surface: #f5f5f5;
    --q-input-bg: #ffffff;
    --q-input-text: #000000;
    --q-placeholder: #9e9e9e;
    --q-header-bg: var(--q-primary);
    --q-header-text: #ffffff;
    --q-footer-bg: var(--q-secondary);
    --q-footer-text: #ffffff;
}

/* Dark Theme */
[data-theme="dark"] {
    --q-primary: #395671;
    --q-secondary: #00acc1;
    --q-accent: #c2185b;
    --q-positive: #43a047;
    --q-negative: #e53935;
    --q-info: #29b6f6;
    --q-warning: #ffa000;
    --q-dark: #121212;
    --q-dark-page: #0d0d0d;

    --q-body-bg: #0d0d0d;
    --q-body-text: #f5f5f5;
    --q-border: #333333;
    --q-surface: #1e1e1e;
    --q-input-bg: #1a1a1a;
    --q-input-text: #f5f5f5;
    --q-placeholder: #888888;
    --q-header-bg: var(--q-dark);
    --q-header-text: #ffffff;
    --q-footer-bg: var(--q-dark);
    --q-footer-text: #cccccc;
}

/* Red Theme */
[data-theme="red"] {
    --q-primary: #d32f2f;
    --q-secondary: #e57373;
    --q-accent: #ff5252;
    --q-positive: #66bb6a;
    --q-negative: #c62828;
    --q-info: #4fc3f7;
    --q-warning: #ffca28;
    --q-dark: #212121;
    --q-dark-page: #121212;

    --q-body-bg: #fff8f7;
    --q-body-text: #2d2d2d;
    --q-border: #f0c0c0;
    --q-surface: #ffebee;
    --q-input-bg: #ffffff;
    --q-input-text: #2d2d2d;
    --q-placeholder: #b71c1c;
    --q-header-bg: var(--q-primary);
    --q-header-text: #ffffff;
    --q-footer-bg: var(--q-secondary);
    --q-footer-text: #ffffff;
}

.text-ucfirst::first-letter {
    text-transform: uppercase;
}
