/** Add custom styles for blade templates **/
@use "@mdi/font";

.notyf__toast {
    font-size: 16px;
    border-radius: 8px;
}
.notyf__toast--success {
    background: #31ac4e;
}
.notyf__toast--error {
    background: #c03e4b;
}
