@import "__vars.scss";
@import "__shared.scss";
@import "pages/_forgot-password"; 
@import "pages/_login";
@import "pages/_mfa";
@import "pages/_register";
@import "pages/_reset-password";
@import "pages/_terms-policy";
@import "pages/_authozation";

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.notify {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--white);
    background-color: var(--code);
    padding: 0.5em;
    text-transform: capitalize;
    box-shadow: 0px 1px 5px -2px var(--primary);
    -webkit-box-shadow: 0px 1px 5px -2px var(--primary);
    -moz-box-shadow: 0px 1px 5px -2px var(--primary);

    p {
        font-size: 1.1em;
    }
}


input {
    box-shadow: 0px 1px 5px -2px var(--code);
    -webkit-box-shadow: 0px 1px 5px -2px var(--code);
    -moz-box-shadow: 0px 1px 5px -2px var(--code);
    border: none;

    &:hover,
    &:active,
    &:focus {
        border: none;
        box-shadow: 0px 1px 10px -2px var(--code);
        -webkit-box-shadow: 0px 1px 10px -2px var(--code);
        -moz-box-shadow: 0px 1px 10px -2px var(--code);
    }
}

button {
    box-shadow: -1px 3px 7px -1px var(--code);
    -webkit-box-shadow: -1px 3px 7px -1px var(--code);
    -moz-box-shadow: -1px 3px 7px -1px var(--code);

    &:hover {
        opacity: 0.8;
    }
}

a {
    &:hover {
        opacity: 0.8;
    }
}

.errors {
    display: block !important;
    font-size: 1em;
    color: var(--secondary);
    margin-top: 0.2em;
}